{% extends 'base.html' %}


{% block conteudo %}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Alterar Senha</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
  
	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Soliciração enviada</h2>
		<hr>
		<p>Você receberá em breve um email com as instruções para alterar sua senha, caso exista uma conta com o email informado.<br>Se não o receber, por favor verifica o email informado e verifica a caixa de spam do seu email.</p>
  </div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}