{% extends 'base.html' %}


{% block conteudo %}

{% load crispy_forms_tags %}
<section class="content mt-3">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Resetar senha</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<!--Reset Password-->
						<div class="col">
							<h2 class="font-weight-bold mt-3">Alterar Senha</h2>
							<hr>
							<p>Esqueceu sua senha? Digite seu email abaixo e nós enviaremos as instruções para uma nova.
							</p>
							<form method="POST">
								{% csrf_token %}
								{{ password_reset_form|crispy }}
								<button class="btn btn-primary" type="submit">Enviar</button>
							</form>
						</div>
						{% if request.user.is_authenticated %}
						<script>
							document.getElementById('id_email').value = "{{ request.user.email}}";
						</script>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}