{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}| Listagem de Solicitações{% endblock titulo %}
{% block conteudo %}
<div class="wrapper">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Solicitações</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           <div class="card">
              <div class="card-header">
                <h3 class="card-title">Listagem das solicitações</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="tabela" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Secretaria</th>
                    <th>Objeto</th>
                    <th>Data</th>
                    {% comment %} <th>Total de Itens</th> {% endcomment %}
                    <th>Status</th>
                    <th>Ações</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for solicitacao in solicitacoes %}
                  <tr>
                    <td><a href="{% url 'solicitacao:solicita' solicitacao.id %}">{{solicitacao.id}}</a></td>
                    <td>{{solicitacao.secretaria.get_nome}}</td>
                    <td>{{solicitacao.objeto}}</td>
                    <td>{{solicitacao.data}}</td>
                    <td>{{solicitacao.get_status_display}}</td>
                    <td>
                      <div class="navbar-collapse">
                      <ul class="navbar-nav navbar-no-expand ml-2">
                        <li class="nav-item dropdown">
                          <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            class="nav-item dropdown-toggle btn btn-secondary">
                            <i class="fa-solid fa-file-export"></i>
                            Gerar</a>
                          <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a href="{% url 'solicitacao:pdf' solicitacao.id %}" class="dropdown-item"><i class="fa-solid fa-file-pdf"></i> PDF</a></li>
                            <li><a href="{% url 'solicitacao:doc' solicitacao.id %}" class="dropdown-item"><i class="fa-solid fa-file-word"></i> Word</a></li>
                          </ul>
                          <li class="nav-item ml-2"><a href="{{solicitacao.id}}" class="btn btn-primary"><i class="fas fa-pen-to-square"></i></a></li>
                          <li class="nav-item ml-2"><a href="{{solicitacao.id}}" class="btn btn-danger"><i class="fas fa-trash-can"></i></a></li>
                      </ul>
                    </div>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Secretaria</th>
                    <th>Objeto</th>
                    <th>Data</th>
                    <th>Status</th>
                    <th>Ações</th>
                  </tr>
                  </tfoot>
                </table>
                <div class="row">
                  <div class="col d-flex align-content-center">
                    {% include 'partials/_pagination.html' %}
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
</div>
{% endblock conteudo %}