{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% load crispy_forms_tags %}
{% block titulo %}| Solicitação ID nº {% endblock titulo %}
{% block conteudo %}
<div class="wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           <div class="card">
              <div class="card-header">
                <h3 class="card-title">Solicitção</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="tabela" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Secretaria</th>
                      <th>Objeto</th>
                      <th>Data</th>
                      <th>Status</th>
                      <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for item in solicitacao.solicitacaoitem_set.all %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item}}</td>
                            <td>{{solicitacao.objeto}}</td>
                            <td>{{solicitacao.data}}</td>
                            <td>{{solicitacao.status}}</td>
                            <td>AÇÕES</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                          <th>ID</th>
                          <th>Secretaria</th>
                          <th>Objeto</th>
                          <th>Data</th>
                          <th>Status</th>
                          <th>Ações</th>
                        </tr>
                        </tfoot>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
      </div>
      </div>
      {% comment %} {{solicitacao.secretaria.get_logotipo}}
      {{solicitacao.secretaria.endereco}} 
      {{solicitacao.secretaria.prefeitura.get_logo}}
      <p>pois pé</p>
      <img src="{{solicitacao.secretaria.prefeitura.logotipo.name|s3url_media}}" />{% endcomment %}
      {% for i in solicitacao.solicitacaoitem_set.all %}
        {{i.get_unidade}}
      {% endfor %}
      {% endblock conteudo %}  