{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% load crispy_forms_tags %}
{% block titulo %}| Listagem de Prefeituras{% endblock titulo %}
{% block conteudo %}

<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Criar Solicitação</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Adicionar Solicitação</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <th scope="col">Solicitação</th>
                      <td scope="col">{{solicitacao}}</td>
                    </tr>
                    <tr>
                      <th scope="col">Secretaria</th>
                      <td scope="col">{{solicitacao.secretaria}}</td>
                    </tr>
                    <tr>
                      <th scope="col">Data</th>
                      <td scope="col">{{solicitacao.data}}</td>
                    </tr>
                  </tbody>
                </table>

                <form method="post" action="{% url 'produto:busca' solicitacao.id %}">{% csrf_token %}
                  <input type="hidden" name="objProdutos" id="objProdutos" 
                  value="">
                  <div class="form-group w-100 ml-2 mt-2">
                    <label for="autoComplete">Produto:</label>
                    <input id="autoComplete" type="text" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off"
                      autocapitalize="off" class="form-control">
                    <small class="form-text text-muted">Escolha seu produto e clique para ser adicionado à
                      solicitação</small>
                  </div>
                  <div class="form-group">
                    <ul id="result" multiple class="list-group list-group-horizontal-xxl">
                      {% for item in solicitacao.solicitacaoitem_set.all %}
                      <li id="li-{{item.id}}" class="list-group-item d-flex p-2 bd-highlight justify-content-between">
                        {{item}}
                        <div class="form-row form-inline">
                          Quantidade: 
                          <input name="quantidade-{{item.id}}" id="quantidade-{{item.id}}" type="number" class="form-text form-control mr-2 ml-2" 
                          onchange="modifica_quantidade({{item.id}})" required value="{{item.quantidade}}">
                        <a href="#" class="btn btn-danger li-produto mr-1" onclick=removerProduto("li-{{item.id}}",{{item.id}})>
                          <i class="fas fa-trash-can"></i>
                        </a>
                      </div>
                    </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <input type="submit" value="Salvar" class="btn btn-success">

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{items|json_script:'json_data'}}
    <script>
      const resultado = document.getElementById("result");
      const objProdutos = document.getElementById('objProdutos');
      var json_data;
      ob = [];
      const autoCompleteJS = new autoComplete({
        selector: "#autoComplete",
        placeHolder: "Digite um produto...",
        debouce: 300,
        threshold: 3,
        resultsList: {
          maxResults: 10,
        },
        data: {
          src: async (query) => {
            try {
              const source = await fetch(`/produto/search/?search=${query}`);
              const data = await source.json();
              return data.data;
            } catch (error) {
              return error;
            }
          },
          keys: ["produto"],
          cache: false,
        },
        resultsList: {
          element: (list, data) => {
            if (!data.results.length) {
              // Create "No Results" message element
              const message = document.createElement("div");
              // Add class to the created element
              message.setAttribute("class", "no_result");
              // Add message text content
              message.innerHTML = `<span>Sem resultados para "${data.query}"</span>`;
              // Append message element to the results list
              list.prepend(message);
            }
          },
          noResults: true,
        },
        resultItem: {
          highlight: true,
        },
        events: {
          input: {
            selection: (event) => {
              const selection = event.detail.selection.value;
              verify_produto(selection);
            },
          },
        },
      });
      inicia();
      function inicia() {
        json_data = document.getElementById('json_data').textContent;
        //console.log(json_data);
        if (json_data == "") {
          console.log(json_data);
          ob = [];
          objProdutos.value = ob;
          console.log('aqui ==')
        } else {
          json_data = JSON.parse(json_data);
          json_data = JSON.parse(json_data);
          objProdutos.value = JSON.stringify(json_data);
          ob = json_data;
          console.log(json_data);
          // console.log(typeof json_data)
        }
        /*if(json_data != ""){
          ob = json_data;
           json_data = JSON.parse(json_data);
           json_data = JSON.parse(json_data);
           objProdutos.value = JSON.stringify(json_data);
          console.log(json_data);
        } else {
          objProdutos.value = ob;
        }*/
        atualiza_obj();
      }
      function verify_produto(item) {
        verifica_item = false;
        for (let i = 0; i < ob.length; i++) {
          if (item.id == ob[i].id) {
            verifica_item = true
          }
        }
        if (!verifica_item) {
          ob.push(item);
          resultado.innerHTML += `
          <li id="li-${item.id}" class="list-group-item d-flex p-2 bd-highlight justify-content-between">${item.produto}
            <div class="form-row form-inline">
              Quantidade: 
              <input name='quantidade-${item.id}' id='quantidade-${item.id}' type="number" class="form-text form-control mr-2 ml-2" 
              onchange="modifica_quantidade(${item.id})" required>
            <a href="#" class="btn btn-danger li-produto mr-1" onclick=removerProduto('li-${item.id}',${item.id})>
              <i class="fas fa-trash-can"></i>
            </a>
          </div>
        </li>`;
          atualiza_obj();
        }
        for (let i = 0; i < ob.length; i++) {
          if(ob[i].quantidade) {
            id_qtd = "quantidade-"+ob[i].id;
            element = document.getElementById(id_qtd);
            element.value = ob[i].quantidade;
          }
        }
      }
      function atualiza_obj() {
        objProdutos.value = JSON.stringify(ob);
        for (let i = 0; i < ob.length; i++) {
          if(ob[i].quantidade) {
            id_qtd = "quantidade-"+ob[i].id;
            element = document.getElementById(id_qtd);
            element.value = ob[i].quantidade;
          }
        }
      }
      function removerProduto(item, id) {
        for (let i = 0; i < ob.length; i++) {
          if (ob[i].id == id) {
            ob.splice(i, 1);
            document.getElementById(item).remove();
          }
        }
        atualiza_obj();
      }

      function modifica_quantidade(item) {
        for (let i = 0; i < ob.length; i++) {
          if (ob[i].id == item) {
            id_qtd = "quantidade-"+item;
            let obj = document.getElementById(id_qtd);
            ob[i].quantidade = obj.value;
            atualiza_obj();
            console.log(ob);
          }
        }
       atualiza_obj();
      }
    </script>
{% endblock conteudo %}