{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}| Listagem de Produtos{% endblock titulo %}
{% block conteudo %}
<div class="wrapper">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Produtos</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           <div class="card">
              <div class="card-header">
                <h3 class="card-title">Listagem dos produtos</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="tabela" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Produto</th>
                    <th>Descrição</th>
                    <th>Tipo</th>
                    {% comment %} <th>Total de Itens</th> {% endcomment %}
                    <th>Imagem</th>
                    <th>Ações</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for produto in produtos %}
                  <tr>
                    <td>{{produto.id}}</td>
                    <td>{{produto.nome}}</td>
                    <td>{{produto.descricao_curta}}</td>
                    <td>{{produto.get_tipo_display}}</td>
                    {% comment %} <td>{{solicitacao.qtd_total}}</td> {% endcomment %}
                    <td>{% if produto.imagem %}<img src="{{produto.imagem.url}}"/>{% else %}Produto sem Imagem{% endif %}</td>
                    <td>
                      <ul class="navbar-nav navbar-no-expand ml-2">
                        <li class="nav-item ml-2"><a href="#{{produto.id}}" class="btn btn-primary"><i class="fas fa-pen-to-square"></i></a></li>
                        <li class="nav-item ml-2"><a href="#{{produto.id}}" class="btn btn-danger"><i class="fas fa-trash-can"></i></a></li>
                      </ul>
                    
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Produto</th>
                    <th>Descrição</th>
                    <th>Tipo</th>
                    {% comment %} <th>Quantidade de Itens</th> {% endcomment %}
                    <th>Imagem</th>
                    <th>Ações</th>
                  </tr>
                  </tfoot>
                </table>
                <div class="row">
                  <div class="col d-flex align-content-center">
                    {% include 'partials/_pagination.html' %}
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
</div>
{% endblock conteudo %}